{% extends 'base.html.twig' %}

{% block metatitle %}
    {{ article.title }} | Super Blog
{% endblock metatitle %}


{% block main %}
    <section class="articles-container">

        <article class="article">
            <h2>{{ article.title }}</h2>
            <p> {{ article.content }}</p>
            <img src="{{ article.image }}" alt="{{article.title}}">
            <p> Date de création : {{ article.createdAt | date('d/m/y h:i:s') }}</p>
        </article>

    </section>
{% endblock main %}


