<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block metatitle%} {% endblock metatitle %}</title>
    <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
</head>
<body>

<header>
    <nav>
        <ul>
            <li><a href="{{ path('home') }}">Accueil</a></li>
            <li><a href="{{ path('article_list') }}">Articles</a></li>
            <li><a href="{{ path('contact_form') }}">Contact</a></li>
            <li><a href="{{ path('categories_list') }}">Catégories</a></li>
        </ul>
    </nav>


    <form id="form" method="GET" action="{{ path('article_search_results') }}">

        <input id="inputText" type="text" name="search"/>

        <input type="submit" value="Rechercher"/>
    </form>

</header>

<main>

    {% block main %}

    {% endblock main %}

</main>



<footer>
    <p>Copyright de qualité</p>
</footer>

</body>
</html