{% extends 'base.html.twig' %}

{% block metatitle %}
    Liste des catégories | Super Blog
{% endblock metatitle %}

{% block main %}

    <section class="articles-container">

        <h1>Toutes les catégories</h1>

        {# comme mon entité category est une table, je dois le parcourir pour afficher les éléments du tableau #}
        {% for category in categories %}
            <article class="article" style="background-color: {{ category.color }}">
                <p>{{ category.title }}</p>
                <ul>
                    <li><a href="{{ path('category_show', {id:category.id}) }}">Afficher la catégorie</a></li>
                    <li><a href="{{ path('category_delete', {id:category.id}) }}">Supprimer la catégorie</a></li>
                    <li><a href="{{ path('category_update', {id:category.id}) }}">Modifier la catégorie</a></li>
                </ul>
            </article>

        {% endfor %}


    </section>


{% endblock main %}


